$neutral-000: #f0f4f8;
$neutral-100: #d9e2ec;
$neutral-200: #bcccdc;
$neutral-300: #9fb3c8;
$neutral-400: #829ab1;
$neutral-500: #5d7893;
$neutral-600: #486581;
$neutral-700: #334e68;
$neutral-800: #243b53;
$neutral-900: #102a43;
$neutral-1000:#081e38;

$accent-100: #e0fcff;
$accent-200: #bef8fd;
$accent-300: #87eaf2;
$accent-400: #54d1db;
$accent-500: #38bec9;
$accent-600: #2cb1bc;
$accent-700: #14919b;
$accent-800: #0e7c86;
$accent-900: #0a6c74;
$accent-1000:#044e54;

$font-main: "Roboto", sans-serif;
$font-header: "Alata", "Montserrat", "Roboto", sans-serif;

$t-ufast: 0.075s;
$t-fast: 0.15s;
$t-med: 0.3s;
$t-slow: 0.5s;

$wrap-wide: 1400px;

$m-wide: 1400px;
$m-med: 1000px;
$m-small: 600px;
