@import "partial/Vars";

.App {
	min-height: calc(100vh - 6px);
	position: relative;
}

.App-Wrap {
	animation: App-FadeIn $t-slow 1;
	@keyframes App-FadeIn {
		from {opacity: 0;}
		to {opacity: 1;}
	}
}
