@import "partial/Vars";
@import "partial/Ext";

.MediaModal {
	@extend %center_wrap;

	position: fixed;
	top: 0;
	left: 0;

	background-color: transparentize($neutral-200, 0.3);
	cursor: pointer;

	.MediaModal-Card {
		@extend %card;

		display: block;
		cursor: auto;
		
	}
}
