@import "../../partial/Ext";

.ThemesPage {
	.ThemesPage-Themes {
		display: grid;
		width: 100%;
		height: auto;
		grid-gap: 8px;
		margin-top: 16px;
		grid-template-columns: repeat(auto-fill, minmax(#{"min(100%, 300px)"}, 1fr));
	}

	.ThemesPage-Toolbar {
		@extend %card_toolbar;
	}

	.ThemesPage-Notice {
		text-align: center;
		color: $neutral-500;
		margin: 32px 0px 48px 0px;
	}
}
