doctype html
html(lang="en")
	head
		script(src="https://cdn.jsdelivr.net/npm/preact/dist/preact.min.js" defer)
		script#plugins(type="application/json")!= JSON.stringify({ pluginScripts: scripts, pluginStyles: styles })

		script(src="/admin/asset/script/main.js" defer)
		script(src="http://localhost:35729/livereload.js" async)

		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@300;400;500&display=swap")
		title Admin Panel
	body
		.top_gradient
		#root
