meta(charset='utf-8')
meta(content='width=device-width, initial-scale=1' name='viewport')

for val in themes
	link(rel="stylesheet" href=`/theme/${val}.css`)
for val in plugins
	script(async=true src=`/plugin/${val}.js`)
