@import "../partial/Vars";
@import "../partial/Ext";

.Page {
	.Page-Card {
		@extend %card;

		display: block;
		width: calc(100% - 32px);
		max-width: $wrap-wide;
		margin: 48px auto;

		@media screen and (max-width: $wrap-wide + 32px) {
			margin: 48px 16px;
		}
	}
}
