@import "../partial/Ext";

.ThemePage {
	.ThemePage-Themes {
		display: grid;
		width: 100%;
		height: auto;
		grid-gap: 16px;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.ThemePage-Toolbar {
		@extend %card_toolbar;
	}
}
