@import "../partial/Vars"
@import "../partial/Ext"

.UserCard
	&.Animate-enter-active, &.Animate-enter-done
		.UserCard-Card
			opacity: 1
			transform: translate(-50%, 12px) scale(1)

	&.Animate-enter-active:not(.Animate-enter-done), &.Animate-exit-active:not(.Animate-exit-done)
		.UserCard-Card
			will-change: transform

	.UserCard-Card
		position: fixed
		z-index: 5
		width: 220px
		top: 0
		left: 0

		overflow: visible
		background: white
		border-radius: 4px
		transform: translate(-50%, 0px) scale(0.95)
		box-shadow: 0px 2px 8px 0px transparentize($neutral-1000, 0.8)

		opacity: 0
		transition: opacity $t-fast, transform $t-fast

		.UserCard-Header
			padding: 16px
			padding-top: 8px
			text-align: center

			img
				width: 60%
				display: block
				margin: 20px auto 24px auto

				user-select: none
				border-radius: 50%
				pointer-events: none
				background-color: $neutral-100
				box-shadow: 0px 0px 0px 6px $neutral-100, 0px 0px 0px 12px $neutral-000

			.UserCard-Name
				@extend %ellipsize

				margin: 0
				margin-top: 4px

				font-size: 20px

			.UserCard-Identifier
				@extend %ellipsize

				margin: 0
				margin-top: 4px

				color: $neutral-500
				font-size: 16px
				font-weight: 400
				font-family: $font-main

		.UserCard-Body
			padding: 16px
			background-color: $neutral-000

			.UserRolesList
				text-align-last: left
				margin-bottom: 12px

			.UserCard-Full
				@extend %material_button
				text-align: center
				display: block
				padding: 12px
