@import "../../partial/Vars";
@import "../../partial/Ext";

.MediaItem {
	@extend %material_button;
	background: transparent;
	border-color: $neutral-100;
	box-sizing: content-box;
	user-select: none;
	padding: 8px;

	$h: 80px;
	height: $h;

	display: grid;
	grid-template-columns: $h 1fr;
	grid-gap: 16px;

	& > * {
		box-sizing: border-box;
	}

	&.selected {
		border-color: $accent-400;
		background-color: transparentize($accent-300, 0.7);

		&:focus::after, &:hover::after {
			background-color: transparentize($accent-300, 0.8);
		}

		.MediaIcon.Icon {
			background-color: transparentize($accent-500, 0.7);
		}
	}

	.MediaItem-Description {
		height: 100%;
		overflow: auto;
		text-align: left;
		padding-top: 8px;

		p {
			margin-top: 0em;
			margin-bottom: 0.3em;

			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		p.MediaItem-Title {
			font-size: 18px;
		}

		p.MediaItem-Author {
			opacity: 0.8;
			font-size: 14px;
		}

		p.MediaItem-Size {
			opacity: 0.7;
			font-size: 14px;
		}
	}
}
